<header>
    <div class="container">
        <div class="row">
            <div class="logo">Koahsiung Food</div>
            <div class="col search d-none d-md-flex align-items-center ">
                <div class="search-group ml-5">
                    <i class="fas fa-search text-white"></i>
                    <input type="search" placeholder="Explore your own activities. (Key Enter)" #search (keyup.enter)="onSearchEnter(search.value);search.value = ''">
                </div>
            </div>
            <div class="col d-flex d-md-none justify-content-end align-items-center" (click)="showSearchBar()">
                <i class="fas fa-search text-white fa-lg"></i>
            </div>
        </div>
    </div>
</header>

<section class="container d-md-none search-bar" *ngIf="showSearch">
    <div class="row py-3 mx-2 d-flex align-items-center">
        <i class="fas fa-search text-black"></i>
        <input type="search" placeholder="Explore your own activities." #search (keyup.enter)="onSearchEnter(search.value);search.value = ''">
    </div>
</section>

<div class="container mb-5 p-md-0 px-lg-2">
    <div class="row d-flex flex-column flex-md-row">
        <section class="mr-md-3 mr-lg-5">
            <div class="filter-content">
                <div class="filter-box py-4 px-4">
                    <div class="filter-box-title mb-3">Location</div>
                    <select class="custom-select" (change)="selectZone($event.target.value)">
                        <option value="" selected>select menu</option>
                        <option [value]="item.Zone" *ngFor="let item of area">{{item.Zone}}</option>
                    </select>
                </div>
                <!-- <div class="filter-box py-4 px-4">
                    <div class="filter-box-title mb-3">Date</div>
                    <div class="form-group row text-right">
                        <label for="datestart" class="col-3 col-form-label filter-date">from</label>
                        <div class="col-9">
                            <input type="date" class="form-control" id="datestart">
                        </div>
                    </div>
                    <div class="form-group row text-right">
                        <label for="dateend" class="col-3 col-form-label filter-date">to</label>
                        <div class="col-9">
                            <input type="date" class="form-control" id="dateend">
                        </div>
                    </div>
                </div> -->
                <div class="filter-box py-4 px-4">
                    <div class="filter-box-title mb-3">Categories</div>
                    <label class="container" *ngFor="let item of categoriesTag; let i = index;">{{item.name}}
                        <input type="checkbox" (change)="toggleEditable(i)">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>

        </section>
        <section class="col p-0 mx-0 mx-md-3 mx-lg-0" *ngIf="showAll" [@flyInOut]>
            <div class="filter-info mx-3 mx-md-0">
                <h3 class="mt-4">Showing
                    <span class="text-primary" *ngIf="foodData">{{allFoodData.length}}</span> results by…</h3>
                <span class="filter-tag mr-2" *ngFor="let item of searchTag; let i = index;">{{item}}
                    <i class="far fa-times-circle ml-2" (click)="deleteSearchTag(i)"></i>
                </span>
            </div>
            <div class="view-list mx-3 mt-4 mx-md-0 d-flex flex-column flex-lg-row" (click)="showDetail(item)" *ngFor="let item of foodData" >
                <div class="view-img" [style.backgroundImage]="'url('+ item.Picture1 +')'"></div>
                <div class="view-info px-3 py-3 d-flex flex-column">
                    <h4 class="text-primary font-weight-bold my-2">{{item.Name}}</h4>
                    <p class="info-content">{{ (item.Description.length>60)? (item.Description | slice:0:60)+'..':(item.Description) }}</p>
                    <div class="info-main mb-2">
                        <span class="font-weight-bold mr-3">Categories</span>
						<span class="info-tag" *ngIf="item.Class==01">異國料理</span>
						<span class="info-tag" *ngIf="item.Class==02">火烤料理</span>
						<span class="info-tag" *ngIf="item.Class==03">中式美食</span>
						<span class="info-tag" *ngIf="item.Class==04">夜市小吃</span>
						<span class="info-tag" *ngIf="item.Class==05">甜點冰品</span>
						<span class="info-tag" *ngIf="item.Class==06">伴手禮</span>
						<span class="info-tag" *ngIf="item.Class==07">地方特產</span>
						<span class="info-tag" *ngIf="item.Class==08">素食</span>
						<span class="info-tag" *ngIf="item.Class==09">其他</span>
                    </div>
                    <div class="info-date mt-auto">
                        <i class="fas fa-map-marker-alt mr-2"></i>
                        <span class="mr-3">{{item.Add}}</span>
                        <i class="far fa-calendar-alt mr-2"></i>
                        <span class="mr-3">{{item.Opentime}}</span>
                    </div>
                </div>
            </div>


            <nav aria-label="Page navigation example">
                <ul class="pagination mt-3 mx-3 mx-md-0 justify-content-end">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous" (click)="changePage('pre')">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"  [ngClass]="pagination.nowPage == item ? 'active':''" *ngFor="let item of pagination.totalPage" (click)="changePage(item)">
                        <a class="page-link" href="#">{{item}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next" (click)="changePage('next')">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>

        <section class="col p-0" *ngIf="!showAll && singleData" [@flyInOut]>
            <nav class=" mx-3 mx-md-0">
                <ol class="breadcrumb mt-3">
                    <li class="breadcrumb-item">
                        <a href="#" (click)="showDetail()">Explore</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{singleData.Name}}</li>
                </ol>
            </nav>
            <div class="view-deatil">
                <div class="detail-bg embed-responsive embed-responsive-16by9" [style.backgroundImage]="'url('+ singleData.Picture1 +')'"></div>
                <div class="view-article px-5 py-4">
                    <h2 class="text-primary font-weight-bold mb-4">{{singleData.Name}}</h2>
                    <div class="info-main">
                        <span class="font-weight-bold mr-3">Ethan Foster</span>
						<span class="info-tag" *ngIf="singleData.Class==01">異國料理</span>
						<span class="info-tag" *ngIf="singleData.Class==02">火烤料理</span>
						<span class="info-tag" *ngIf="singleData.Class==03">中式美食</span>
						<span class="info-tag" *ngIf="singleData.Class==04">夜市小吃</span>
						<span class="info-tag" *ngIf="singleData.Class==05">甜點冰品</span>
						<span class="info-tag" *ngIf="singleData.Class==06">伴手禮</span>
						<span class="info-tag" *ngIf="singleData.Class==07">地方特產</span>
						<span class="info-tag" *ngIf="singleData.Class==08">素食</span>
						<span class="info-tag" *ngIf="singleData.Class==09">其他</span>
                    </div>
                    <div class="info-date mt-3">
                        <i class="fas fa-map-marker-alt mr-2"></i>
                        <span class="mr-3">{{singleData.Add}}</span>
                        <i class="far fa-calendar-alt mr-2"></i>
                        <span class="mr-3">{{singleData.Opentime}}</span>
                    </div>
                    <p class="mt-3">{{ singleData.Description }}</p>
                    <div class="text-center">
                        <button class="btn btn-primary" (click)="showDetail()">Back</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
